infrastructure/n8n/workflows/match-notification.json
{
  "name": "Match Threshold Notification Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "match-notification",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "match-notification-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Extract webhook payload\nconst payload = $input.item.json.body || $input.item.json;\n\nconst jobPostingId = payload.jobPostingId;\nconst matchCount = payload.matchCount || 0;\nconst topCandidates = payload.topCandidates || [];\nconst triggeredAt = new Date().toISOString();\n\n// Validate required fields\nif (!jobPostingId) {\n  throw new Error('Missing jobPostingId in webhook payload');\n}\n\nreturn {\n  json: {\n    jobPostingId: jobPostingId,\n    matchCount: matchCount,\n    topCandidates: topCandidates,\n    triggeredAt: triggeredAt,\n    webhookPayload: payload\n  }\n};"
      },
      "id": "parse-webhook",
      "name": "Parse Webhook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ML_SERVICE_URL }}/api/scoring/criteria/{{ $json.jobPostingId }}",
        "options": {}
      },
      "id": "get-job-criteria",
      "name": "Get Job Criteria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CAP_SERVICE_URL }}/api/jobs/JobPostings({{ $('Parse Webhook Data').item.json.jobPostingId }})",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "get-job-details",
      "name": "Get Job Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 500],
      "credentials": {
        "oAuth2Api": {
          "id": "2",
          "name": "CAP Service OAuth2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Merge job details with notification data\nconst notificationData = $('Parse Webhook Data').item.json;\nconst jobCriteria = $('Get Job Criteria').item.json;\nconst jobDetails = $('Get Job Details').item.json;\n\n// Calculate summary statistics\nconst topCandidates = notificationData.topCandidates || [];\nconst avgScore = topCandidates.length > 0 \n  ? topCandidates.reduce((sum, c) => sum + c.combinedScore, 0) / topCandidates.length \n  : 0;\n\nconst maxScore = topCandidates.length > 0\n  ? Math.max(...topCandidates.map(c => c.combinedScore))\n  : 0;\n\nreturn {\n  json: {\n    jobPostingId: notificationData.jobPostingId,\n    jobTitle: jobDetails.title || 'Unknown Position',\n    department: jobDetails.department || '',\n    location: jobDetails.location || '',\n    matchCount: notificationData.matchCount,\n    avgScore: Math.round(avgScore * 100) / 100,\n    maxScore: Math.round(maxScore * 100) / 100,\n    topCandidates: topCandidates.slice(0, 5),\n    criteriaCount: Array.isArray(jobCriteria) ? jobCriteria.length : 0,\n    triggeredAt: notificationData.triggeredAt,\n    dashboardUrl: `${$env.APP_URL}/jobs/${notificationData.jobPostingId}/candidates`\n  }\n};"
      },
      "id": "prepare-notification",
      "name": "Prepare Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.matchCount }}",
              "operation": "largerEqual",
              "value2": "={{ $env.MIN_CANDIDATES_THRESHOLD || 5 }}"
            }
          ]
        }
      },
      "id": "check-threshold",
      "name": "Meets Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ML_SERVICE_URL }}/api/notifications/last-sent/{{ $json.jobPostingId }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "check-recent-notification",
      "name": "Check Recent Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "functionCode": "// Check if we should send notification (cooldown period)\nconst lastNotification = $input.item.json;\nconst currentData = $('Prepare Notification').item.json;\n\nconst cooldownHours = parseInt($env.NOTIFICATION_COOLDOWN_HOURS || '24');\nconst cooldownMs = cooldownHours * 60 * 60 * 1000;\n\nlet shouldNotify = true;\nlet reason = 'First notification';\n\nif (lastNotification && lastNotification.sentAt) {\n  const lastSent = new Date(lastNotification.sentAt);\n  const now = new Date();\n  const timeSinceLastMs = now - lastSent;\n  \n  if (timeSinceLastMs < cooldownMs) {\n    shouldNotify = false;\n    const hoursRemaining = Math.ceil((cooldownMs - timeSinceLastMs) / (60 * 60 * 1000));\n    reason = `Cooldown active (${hoursRemaining}h remaining)`;\n  } else {\n    reason = 'Cooldown expired';\n  }\n}\n\nreturn {\n  json: {\n    ...currentData,\n    shouldNotify: shouldNotify,\n    notificationReason: reason,\n    lastNotification: lastNotification\n  }\n};"
      },
      "id": "check-cooldown",
      "name": "Check Cooldown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldNotify }}",
              "value2": true
            }
          ]
        }
      },
      "id": "should-notify",
      "name": "Should Notify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.NOTIFICATION_FROM_EMAIL }}",
        "toEmail": "={{ $env.HR_NOTIFICATION_EMAIL }}",
        "subject": "🎯 New Candidate Matches: {{ $json.jobTitle }} ({{ $json.matchCount }} candidates)",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .header { background: #0070f3; color: white; padding: 20px; text-align: center; }\n    .content { padding: 20px; }\n    .stats { display: flex; gap: 20px; margin: 20px 0; }\n    .stat-box { background: #f5f5f5; padding: 15px; border-radius: 8px; text-align: center; flex: 1; }\n    .stat-value { font-size: 28px; font-weight: bold; color: #0070f3; }\n    .stat-label { color: #666; font-size: 12px; }\n    .candidate-list { margin: 20px 0; }\n    .candidate { background: #f9f9f9; padding: 10px 15px; margin: 8px 0; border-radius: 4px; border-left: 4px solid #0070f3; }\n    .candidate-name { font-weight: bold; }\n    .candidate-score { color: #0070f3; float: right; }\n    .btn { display: inline-block; background: #0070f3; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; margin-top: 20px; }\n    .footer { background: #f5f5f5; padding: 15px; text-align: center; font-size: 12px; color: #666; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>New Candidate Matches Found!</h1>\n  </div>\n  <div class=\"content\">\n    <h2>{{ $json.jobTitle }}</h2>\n    <p><strong>Department:</strong> {{ $json.department || 'N/A' }} | <strong>Location:</strong> {{ $json.location || 'N/A' }}</p>\n    \n    <div class=\"stats\">\n      <div class=\"stat-box\">\n        <div class=\"stat-value\">{{ $json.matchCount }}</div>\n        <div class=\"stat-label\">Total Matches</div>\n      </div>\n      <div class=\"stat-box\">\n        <div class=\"stat-value\">{{ $json.avgScore }}%</div>\n        <div class=\"stat-label\">Average Score</div>\n      </div>\n      <div class=\"stat-box\">\n        <div class=\"stat-value\">{{ $json.maxScore }}%</div>\n        <div class=\"stat-label\">Top Score</div>\n      </div>\n    </div>\n    \n    <h3>Top Candidates</h3>\n    <div class=\"candidate-list\">\n      {{#each topCandidates}}\n      <div class=\"candidate\">\n        <span class=\"candidate-name\">{{ this.name || 'Candidate ' + @index }}</span>\n        <span class=\"candidate-score\">{{ this.combinedScore }}%</span>\n      </div>\n      {{/each}}\n    </div>\n    \n    <a href=\"{{ $json.dashboardUrl }}\" class=\"btn\">View All Candidates →</a>\n  </div>\n  <div class=\"footer\">\n    <p>This is an automated notification from the CV Sorting System.</p>\n    <p>Triggered at: {{ $json.triggeredAt }}</p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-hr-notification",
      "name": "Send HR Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2000, 200],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP Notification"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ML_SERVICE_URL }}/api/notifications/record",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jobPostingId",
              "value": "={{ $json.jobPostingId }}"
            },
            {
              "name": "notificationType",
              "value": "threshold_reached"
            },
            {
              "name": "matchCount",
              "value": "={{ $json.matchCount }}"
            },
            {
              "name": "sentAt",
              "value": "={{ $json.triggeredAt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "record-notification",
      "name": "Record Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "functionCode": "// Return skip response\nreturn {\n  json: {\n    status: 'skipped',\n    reason: $input.item.json.notificationReason || 'Threshold not met',\n    jobPostingId: $input.item.json.jobPostingId,\n    matchCount: $input.item.json.matchCount\n  }\n};"
      },
      "id": "skip-notification",
      "name": "Skip Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {},
      "id": "below-threshold",
      "name": "Below Threshold",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Notification sent successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "response-success",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2440, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Data": {
      "main": [
        [
          {
            "node": "Get Job Criteria",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Job Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Criteria": {
      "main": [
        [
          {
            "node": "Prepare Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Details": {
      "main": [
        [
          {
            "node": "Prepare Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notification": {
      "main": [
        [
          {
            "node": "Meets Threshold?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meets Threshold?": {
      "main": [
        [
          {
            "node": "Check Recent Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Below Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recent Notification": {
      "main": [
        [
          {
            "node": "Check Cooldown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cooldown": {
      "main": [
        [
          {
            "node": "Should Notify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Notify?": {
      "main": [
        [
          {
            "node": "Send HR Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send HR Notification": {
      "main": [
        [
          {
            "node": "Record Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Notification": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "tags": [
    {
      "id": "1",
      "name": "cv-sorting"
    },
    {
      "id": "3",
      "name": "notifications"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "cv-sorting-n8n"
  }
}
